page man         CCMD_MAN
page man-search  CCMD_MANSEARCH
page man-list    CCMD_MANLIST
page console     USAGE_CONSOLE

#alias help       man
#alias --help     man
#alias -h         man
#alias /?         man
#alias ?          man
alias mas        man-search
alias mans       man-search
alias manl       man-list
